# ==========================================
# 构建与临时输出目录
# ==========================================
build/
build*/
build_release/
debug/
release/
Release_Package/
moc/
obj/
uic/

# Qt Creator & IDE 配置与缓存
.qtcreator/
.qtc_clangd/
*.user
*.user.*
.qmake.stash

# 编译中间文件与二进制产物
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.ilk
*.pdb
*.exp

# CMake 产物与缓存
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeScripts/
Testing/
Makefile
Makefile.*

# 打包压缩包与临时日志
*.tar.gz
*.7z
*.log

# 允许追踪并上传官方正式 Release 绿色免安装包
!StarryAudioExtractor_v1.0.0_Release_x64.zip

# 操作系统临时文件
.DS_Store
Thumbs.db
desktop.ini